<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/8507e41f-a4ca-42e3-b27c-b8bd2f026ba0/resourcegroups/HMS/providers/Microsoft.ContainerRegistry/registries/HospitalManagementSystem20250905204407</ContainerResourceId>
    <ContainerResourceName>HospitalManagementSystem20250905204407</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>hospitalmanagementsystem20250905204407.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>hospitalmanagementsystem</ContainerName>
    <EnvironmentName>HospitalManagementSystem-env-20250905204005</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://hospitalmanagementsystem-app-202.blackcliff-b3b938bd.centralindia.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <IngressTargetPort>8080</IngressTargetPort>
    <ResourceId>/subscriptions/8507e41f-a4ca-42e3-b27c-b8bd2f026ba0/resourceGroups/HMS/providers/Microsoft.App/containerApps/hospitalmanagementsystem-app-202</ResourceId>
    <ResourceGroup>HMS</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>